* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    
  }
   body {
     background-color:#F2EFE9;
   }

.navbar {
    background: #252627;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
  }
  
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 100%;
    margin-right: 1px;
    margin-left: 10px;
    padding-right: 5px;
    padding-left: 50px;
  }
  
  #navbar__logo {
    background-color: #F2EFE9;
    /* background-image: linear-gradient(to top, #6E7DAB 0%, #5762D5 100%); */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
    font-family: 'Quicksand', sans-serif;
  }
  

  
  .navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
  }
  
  .navbar__item {
    height: 80px;
  }
  
  .navbar__links {
    color: #BFB48F;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
   
    font-family: 'Quicksand', sans-serif;
  }

  
  .button:hover {
    background: #F2EFE9;
    transition: all 0.3s ease;
  }
  
  .navbar__links:hover {
    color: #BFB48F;
    background: #F2EFE9;
    transition: all 0.3s ease;
  }
  
  @media screen and (max-width: 960px) {
    .navbar__container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
    }
  
    .navbar__menu {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 1;
      transition: all 0.5s ease;
      height: 50vh;
      z-index: -1;
    }
  
    .navbar__menu.active {
      background: #131313;
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 50vh;
      font-size: 1.6rem;
    }
  
    #navbar__logo {
      padding-left: 25px;
    }
  
    .navbar__toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background: #fff;
    }
  
    .navbar__item {
      width: 100%;
    }
  
    .navbar__links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .navbar__btn {
      padding-bottom: 2rem;
    }
  
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 80px;
      margin: 0;
    }
  
    #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
    }
  
    .navbar__toggle .bar {
      display: block;
      cursor: pointer;
    }
  
    #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
    }
  
    #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

    .row {
        
        display: flex;
        flex-wrap: wrap;
        align-items: top;
    
    }

    .row::after {
        display: table;
        clear: both;
        content: "";
    }

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%; }
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%; }
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%; }
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .main__select {
        margin-top: 10px;
        padding: 1%;
    }

    select {
        width: 8%;
        height:7%;
        padding:3px;
        margin: 3px;
    }

    input {
        width: 8%;
        height:7%;
        padding:3px;
        margin: 3px;
    }

    #map {
        height: 1050px;
        width: 100%;
        margin-top: 20px;
        margin-left: 2%;
        padding: 20px;
    }

    #chart1, #chart2, #chart3 {
        display: flex;
        padding:20px;
        margin: auto;
        width: 80%;
        height: auto;
    }